---
layout: archive
title: "Meet the Team"
permalink: /team/
author_profile: true
---

{% include base_path %}


{% if site.publication_category %}
  {% for category in site.team_category  %}
    {% assign title_shown = false %}
    {% for post in site.team reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.team reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

